<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebServ Directory</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<style>
		* {
			margin: 10px;
			padding: 0;
			font-family: 'Montserrat', sans-serif;
			color:white;
			background-color: black;
		}
		img {
			display:block;
			margin:auto;
			width: 150px;
			background-color:transparent;}
		h1, h2, h4, h5, h6, p, a {background-color:transparent;}
		h4 {font-size: 16px;}
		h5 {font-size: 14px;}
		h6 {font-size: 12px;}
		body {margin:auto;max-width: 720px;}
		.hero{
			display: block;
			margin: auto;
			background-color: rgb(16, 181, 187);
			border-radius: 10px;
			padding: 50px;
			padding-bottom: 10px;
			color: white;
		}
		.hero h1 {padding-top: 23px;}
		.files {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			background-color: rgb(12, 142, 146);
			border-radius: 8px 1px 10px 5px;
			text-align: center;
			margin-left: 2;
			margin-right: 2;
		}
		.files a, .files p {
			flex-basis:  33%;
			}
		.files img {display:block;height: 20px;width: 20px;border:1px solid black}
		.files a {color:white;}
		.footer {
			background-color: rgb(16, 181, 187);
			width: 100%;
			text-align: center;
			border-radius: 10px;
			display: block;
			margin: auto;
			padding-top: 5px;
			padding-bottom: 10px;
		}
		.footer h6 a {color: white};
	</style>
</head>
<body>
	<div class="hero">
		<img	src="https://www.42nice.fr/static/images/logo-white.png"
				alt="42 Nice logo"/>
		<h1>WebServ index of</h1>
		<h2>/</h2>
	</div>
	<div class="files">
		<a href="#">file.html</a>
		<p>08-Feb-2022 03:24</p>
		<p>342 Ko</p>
	</div>
	<div class="files">
		<a href="#">file.css</a>
		<p>08-Feb-2022 03:24</p>
		<p>342 Ko</p>
	</div>
	<div class="files">
		<a href="#">.git</a>
		<p>08-Feb-2022 03:24</p>
		<p>342 Ko</p>
	</div>
	<div class="footer">
		<h4>WebServer - 2022</h4>
		<h5>42 Nice</h5>
		<h6>
			<a href="" alt="github mberger-">mberger-</a> ,
			<a href="" alt="github mmehran-">mmheran</a> ,
			<a href="" alt="github bledda">bledda</a>
		</h6>
	</div>
</body>
</html>