@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Ubuntu+Mono&display=swap');

html {background: #191723}
body {
	margin: auto;
	padding: 20px;
	max-width: 800px;
	min-width: 400px
}
body, a {
	text-decoration: none;
	color: rgb(248, 250, 255)
}
h1 {
	font: 900 50px 'Lato', sans-serif;
	margin: 0
}
html, input {font-family: sans-serif}
footer {
	display: flex;
	justify-content: center
}
.dim {color: #8d8a9b}
header {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px
}
main {
	margin: 30px 0;
	padding: 25px;
	border-radius: 10px;
	background: #212130;
	display: flex;
	gap: 5px;
	flex-direction: column;
	box-shadow: #0002 0 0 20px 0
}
.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	border-radius: 5px;
	transition: .2s;
	font-size: 15px
}
.link:hover {background: #ffffff05}
.link > div {
	align-items: center;
	display: flex;
	gap: 20px
}
.link svg {
	width: 25px;
	height: 25px
}
.badge {
	user-select: none;
	color: rgb(var(--color));
	background: rgba(var(--color), .2);
	height: 10px;
	padding: 7px;
	border: 1px solid rgb(var(--color));
	font-size: 15px;
	line-height: 11px;
	border-radius: 10px
}
.icon-btn {
	cursor: pointer;
	background: #0000;
	border: none;
	border-radius: 50px;
	height: 45px;
	width: 45px;
	transition: .2s;
	padding: 10x
}
.icon-btn:hover {
	background: #fff1;
}