*{
	margin: 0;
	padding: 0;
}

body{
	padding-top: 100px;
	max-width: 800px;
	display: block;
	margin: auto;
}

form{
	margin-bottom: 50px;
}

p{
	margin-top: 50px;
}

code pre{
	background-color: black;
	color: white;
	padding: 10px;
}